$color-white: #fff;

$color-calc-screen: #2a363b;

$color-key-1: #ed475d;
$color-key-1-second: #d54054;
$color-key-2: #f7b986;
$color-key-2-second: #dea678;
$color-key-3: #f6827a;
$color-key-3-second: #dd756e;